

.face {
    background-color: rgba(42, 43, 43, 0.5);
    padding: 0px 20px;
}

@media (min-width: 961px) {
    .face {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-auto-rows: 400px;
    }
    .face-image {
        max-width: 600px;
    }
    .highlight {
        display: block !important;
    }
}

/* for screens lower than 960px */
@media (max-width: 960px){
    .face {
        display: grid;
        grid-template-rows: 320px 200px;
    }
    .face-image {
        max-width: 600px;
        max-height: 300px;
    }
    .highlight {
        display: flex !important;
    }
}

.face-whole {
    align-self: center;
}

.face-bboxes {
    position: relative;
}

.box {
    position: absolute;
    border: solid 2px rgba(255, 217, 0, 0.4)
}

.box-select {
    border: solid 2px gold
}

.face-info h5 {
    margin: 15px;
}

.face-predictions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}


