.face-predicts {
    position: relative;
    padding: 10px;
}
/* link image and preds, show only when the right image is clicked */
.preds {
    position: absolute;
    display: none;
}

.preds-label {
    font-size: 14px;
    font-weight: bold;
    margin: 10px 5px;
}

.preds-output {
    color: white;
    font-size: 12px;
    font-weight: 400;
    margin: 5px;
}