.card-div{
    margin: 5px 5px;
}

.card-image{
    object-fit: cover;
    cursor: pointer;
}

.card-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.card-text p{
    margin: 0 10px;
    font-size: 0.8rem;
}

.card-text a {
    font-size: 0.8rem;
    text-decoration: none;
}
