.register{
    border-radius: 3px;
    padding: 30px 10px;
    box-shadow: grey 2px 2px 4px;
    max-width: 400px;
    margin: 20px auto;
}

.content-register {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-arrow {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.back-arrow p {
    margin: 5px 2px;
    font-size: 0.9rem;
}

label, input {
    margin: 5px;
}


.btn-register {
    margin: 15px 10px 5px;
    padding: 5px 15px;
    border-radius: 3px;
    cursor: pointer;
}
